<div class="contact-form small-12 medium-6 columns">
  <div class="text-right small-12 medium-2 columns">
  </div>
  <div class="small-12 medium-8 columns">
    <% if flash[:notice] %>
      <div class="notice text-center">
        <%= image_tag('sent.jpg', alt: 'Enviado') %><br>
        <%= flash[:notice] %>
      </div>
    <% else %>
      <%= form_for @message do |f| %>
        <div class="field">
          <%= f.label :name, 'Nome' %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label :message, 'Mensagem' %>
          <%= f.text_area :message, size: '10x9' %>
        </div>
        <div class="actions">
          <%= f.submit 'Enviar', class: 'button' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
