<header class="row full-width header on-top">
  <%
    logo_img = image_tag('fortam-logo.png', alt: 'Logo Fortam')
    logo = link_to logo_img, '/', class: 'logo-link'

    @menu = [
              (link_to 'Início', :root, class: 'menu-item'),
              (link_to 'Sobre Nós', :about, class: 'menu-item'),
              (link_to 'Contato', :contact, class: 'menu-item'),
              (link_to 'Trabalhe Conosco', :work_us, class: 'menu-item')
            ]
  %>
  <%=
    content_tag(:div, logo, class: 'small-8 large-push large-2 medium-3 columns logo text-right')
  %>
  <%=
    content_tag(:button, nil, class: 'mobile-menu icon-th-menu show-for-small-only')
  %>
  <%=
    menu 'inline-list', 'large-6 medium-8 columns menu-container hide-for-small-only'
  %>
</header>
<div class="sidebar-menu show-for-small-only">
  <%=
    content_tag(:div, logo, class: 'small-12 large-push large-2 medium-3 columns logo mobile-logo text-center')
  %>
  <%=
    menu 'text-center', 'large-6 medium-5 columns menu-container'
  %>
</div>
